<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EFMigrationDb" 
         connectionString="Server=(localdb)\MSSQLLocalDB;Initial Catalog=EF7Context;Integrated Security=true;" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>